{% extends "base.html" %}
{% block title %}
<title>Incio huerto</title>
<link href="{{ url_for('static', filename='css/output.css') }}" rel="stylesheet" />
{% endblock %} 

{% block content %} 

<!-- Estadisticas flotantes -->
<div class="overflow-hidden whitespace-nowrap mt-10">
  <div class="inline-block animate-marquee  ">
    {% for nombre, valor in estadisticas.items() %}
      <span class="inline-block text-white bg-gray-900 mr-10 px-2 py-1 rounded-3xl text-xl">{{ nombre }}: {{ valor }}</span>
    {% endfor %}
  </div>
</div>

<div class="text-3xl text-white">{{data}}</div>

<!-- Huerto virtual -->

<section class="bg-gray-900 py-16 px-4 mt-5 text-center">
  <kbd class="mt-5  bg-amber-500 text-black px-2 py-1 rounded text-4xl font-bold">Gestión del huerto:</kbd>
  <!-- Leyenda -->
  <div class="mt-5 text-2xl text-white">
    <p>🟩 Saludable   🟨 Enferma   ☠️ Enferma, mala humedad y mala temperatura   🟦 Humedad mala   🟥 Temperatura mala</p>
  </div>
  <div 
    class="grid w-full gap-2 rounded p-4 mt-7"
    style="grid-template-columns: repeat({{ plantas.columnas }}, 1fr); 
          grid-template-rows: repeat({{ plantas.filas }}, auto);">
    {% for i in range(plantas.filas) %}
      {% for j in range(plantas.columnas) %}
        <div
          class="planta-cell cursor-pointer 
          {% if preds_str[i][j] == 'sano' %}bg-green-400 
          {% elif estados[i][j][0] == '0' and estados[i][j][1] == '1' %}bg-red-400 
          {% else %}bg-amber-400{% endif %} 
                border p-3 flex flex-col justify-start items-start text-sm text-gray-700 rounded-3xl shadow-2xl hover:shadow-gray-800  hover:shadow-xl
                hover:scale-110
                transition-transform duration-300 ease-in-out hover:-rotate-1
                hover:skew-x-1">
          <div class="text-xl">
            <span class="font-bold">🌿</span>
             {{ plantas[i, j].tipo }}
             {% if estados[i][j][0] == '0' and estados[i][j].len == 1 %}
            🟥
            {% endif %}
            {% if estados[i][j][0] == '1' %}
            🟦
            {% endif %}
            
            {% if preds_str[i][j] == 'sano' %}
            🟩
            {% if estados[i][j]|length == 2 %}
            🟥🟦
            {% endif %}
            {% else %}
              {% if estados[i][j]|length == 2 %}
              ☠️
              {% else %}
              🟨
              {% endif %}
            {% endif %}
            </div>
          <!-- CONTENIDO COLAPSABLE -->
          <div class="info-content mt-2 space-y-1">
            <div><span class="text-blue-600 font-medium">💧 Humedad:</span> {{ plantas[i, j]['sensor']['humedad'] }}</div>
            <div><span class="text-red-600 font-medium ">🌡️ Temp:</span> {{ plantas[i, j]['sensor']['temperatura'] }}</div>
            <div><span class="text-red-600 font-medium ">🚿 Riego requerido:</span> {{ riego[i][j][0] }}</div>
            {% if riego[i][j][0] %}
            <div><span class="text-red-600 font-medium ">🚿 Razones:</span> {{ riego[i][j][1] }}</div>
            {% endif %}
            <div><span class="text-red-600 font-medium ">📷 Foto:</span> <img src="{{ plantas[i, j]['foto'] }}" alt="foto no encontrada"></div>
            <div><span class="text-red-600 font-medium ">🔍 Estado:</span> {{ preds_str[i][j] }}</div>
          </div>
        </div>
      {% endfor %}
    {% endfor %}
  </div>
</section>

<div class="flex w-auto h-auto place-content-center items-center justify-center">
  <div class="mt-14">
    <img class="ps-5 w-full h-auto rounded-3xl"  src="{{ url_for('static', filename='imgs/grafo_cultivos.png') }}" alt="Imágen fallida de los grafos">
  </div>
  <div class="pr-24 mt-14">
    <canvas class=""  id="graficoRiego" width="600" height="700"></canvas>
  </div>
</div>

<br>
<script id="grafs" data-filas="{{plantas.filas}}" data-cols="{{plantas.columnas}}" src="{{ url_for('static', filename='js/grafs_humedad_temp.js') }}"></script>
<script src="{{ url_for('static', filename='js/desplegable_grid_huerto.js') }}"></script>

{% endblock %}